.welcome {
  background: rgb(20, 219, 20);
  border: 1px solid;
}

.line2 {
  height: 6px;
  width: 30%;
  background-color: white;
  display: inline-block;
}

.welcome h1 {
  font-size: 3rem;
  font-weight: bold;
}

.welcome .card {
  border: none;
  border-radius: 0;
  cursor: pointer;
}

.welcome .icon {
  font-size: 45px;
  color: rgb(20, 219, 20);
  height: 40px;
  width: 40px;
}

.welcome h2 {
  font-weight: lighter;
  padding: 10px 0px;
}

#welcomeid{
  background-color: white;
}

.rotate-scale-up:hover #welcomeimgid{
	-webkit-animation: rotate-scale-up 0.4s linear both;
	        animation: rotate-scale-up 0.4s linear both;
}

 @-webkit-keyframes welcomeid {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.5) rotateZ(180deg);
            transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
@keyframes rotate-scale-up {
  0% {
    -webkit-transform: scale(1) rotateZ(0);
            transform: scale(1) rotateZ(0);
  }
  50% {
    -webkit-transform: scale(1.5) rotateZ(180deg);
            transform: scale(1.5) rotateZ(180deg);
  }
  100% {
    -webkit-transform: scale(1) rotateZ(360deg);
            transform: scale(1) rotateZ(360deg);
  }
}
