.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 60px;
  height: 300px;
}


/* :root {
    --main-bg-color: #46cf3c;
    --main-text-color: #009d63;
    --second-text-color: #c2c5cc;
    --second-bg-color: #c1efde;
  }
  
  .primary-text {
    color: var(--main-text-color);
  }
  
  .second-text {
    color: var(--second-text-color);
  }
  
  .primary-bg {
    background-color: var(--main-bg-color);
  }
  
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
    background-image: linear-gradient(
      to right,
      hsla(0, 56%, 75%, 0.049),
      #c2f5de,
      #67bc5c,
      #d4f8ea,
      #14d952
    );
  } */
/* #wrapper {
    overflow-x: hidden;
    background: url(wheat_cornfield_field_agriculture_cereals_epi_grain_cultures-713462.jpg!d)no-repeat ;
    background-size: cover;

  } */
/* #wrapper{
    height: 100%;
  }
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
     
  } */

/* #sidebar-wrapper .sidebar-heading { */
/* padding: 0.875rem 1.25rem; */
/* font-size: 1.2rem; */
/* background:rgb(212, 164, 130); */
/* } */

/* #sidebar-wrapper .list-group { */
/* width: 15rem; */
/* background: rgb(229, 178, 128); */
/* height: 800px; */
/* } */

/* #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  } */

/* .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  } */

/* @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
      
    } */

/* Add this CSS to your existing stylesheet or create a new one */

/* #sidebar-wrapper {
    transition: all 0.3s;
  } */

/* #sidebar-wrapper.active { */
/* Adjust the width as needed */
/* width: 250px; */
/* } */

/* .list-group-item.active { */
/* Add your preferred active background color */
/* background-color: #f8f9fa;  */
/* Add your preferred active text color */
/* color: rgb(202, 196, 196)!important; */
/* Add your preferred active border color */
/* border-right: 4px solid #007bff;
  } */

/* } */
/* #sidebar {
  background-color: grey;
  } */