.main-register-div {
    height: 70vh;
    border: 1px solid darkgray;
}

.customer-btn,
.farmer-btn,
.seller-btn {
    height: 4em;
    font-size: 24px;
    color: black;
}

.customer-btn {
    background-color: #bde3ff;
}
.customer-btn:hover,
.customer-active {
    border: 2px solid black !important;
    background-color: #5dbcff !important;
}

.farmer-btn {
    background-color: #aff4c6;
}
.farmer-btn:hover,
.farmer-active {
    border: 2px solid black !important;
    background-color: #5af48e !important;
}

.seller-btn {
    background-color: #ffc7c2;
}
.seller-btn:hover,
.seller-active {
    border: 2px solid black !important;
    background-color: #ff867b !important;
}
